/* Remove the navbar's default margin-bottom and rounded borders */


/* GOOGLE FONTS OVERWRITE */

html, p, a:not(.glyphicon), span:not(.glyphicon), div{
	font-family: 'Convergence', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Suez One', serif;
}


/* BOOTSTRAP ELEMENTS*/

/*Links style*/

/*TODO: Should we make our own padding classe or do the padding more inline?*/

a,
a:visited {
	color: inherit;
	text-decoration: none;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3c3c3c;
	text-decoration: none;

}

a:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Adds a dark background to a section + some padding*/
/*Do not use along with container or it does some weird spaces*/

.container-dark{

	background-color: #262626;
	color: #cccccc;
	padding: 25px;

}

.container-dark a:hover, .container-dark a:focus {
	color: #ffffff;
	text-decoration: none;

}

.container-white{

	background-color: #ffffff;
	color: #262626;
	padding: 25px;
}

/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}

.carousel-inner img {
	width: 100%; /* Set width to 100% */
	margin: auto;
	min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
	.carousel-caption {
		display: none;
	}
}

/* FONT AWESOME */

.fa-10x {
	font-size: 10em;
}

.fa-12x {
	font-size: 12em;
}

/* class meant to be used along with button (btn), to add a margin around them so they are more spaced out.*/
.tag {
	margin:5px !important;
}